body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 40px 70px 40px 70px;
    overflow-x: hidden;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.list{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}
.brand-logo img{
    width: 120px;
}
.grow-list { margin-left: 289px;}
ul.list li a{
    color: #aba8a8;
    padding:0px 20px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
   
}

i{ color: rgb(11, 11, 11); font-size: 52px;}

ul.list li a.active{ color: #1b1b1b;}
ul.list li a:hover{
    opacity: 0.6;
}


.nav-button{
    padding: 10px 25px;
    background-color: #5955b3;
    border:solid 1px #5955b3;
    font-size: larger;
    font-family: 'Open Sans';
    color: #ffffff;
    border-radius: 10px;
    font-weight: 400;
   
}
.nav-button:hover{
    opacity: 0.9;
}

.package-button{
    padding: 10px 25px;
    background-image: linear-gradient(to top, #0373ec 51%, #0ab2f6 100%);
    border:snow;
    font-size: larger;
    font-family: 'Open Sans';
    color: #ffffff;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 7px 13px 34px -19px rgba(79, 127, 197, 0.90);
    -webkit-box-shadow: 7px 13px 34px -19px rgba(91, 142, 218, 0.90);
    -moz-box-shadow: 7px 13px 34px -19px rgba(74, 129, 211, 0.90);
    margin-right: 50px;
    
    

}
.package:hover{
    opacity: 0.9;
}

.text-color{
    color: #13263f!important;
}
.banner-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 50px;
}
.btn-mar{
    margin: 35px 0px 0px 0px;
}
.banner-leftop{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.heading-text{
    font-size: 60px;
    color: #000;
    font-family: 'Open Sans';
    font-weight: 800;
}

.heading-text span{
    color: #5955b3;
}

.description{
    color: #a9a9a9;
    text-align: left;
    font-weight:400;
    font-family: 'Open Sans';
    line-height: 27px;
   
}

.btn{
    margin-top: 35px;
   
  }
.nav-button{
    padding: 15px 35px;
    background-color: transparent;
    font-size: 17px;
    background: -webkit-linear-gradient(#63cbf9, #1e83ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 10px;
    font-weight: 600;
    border:solid 2px #63cbf9
  /* border-image-source: linear-gradient(to top, #5292f2, #63cbf9); */
  
}

.service-box{
    margin: 0px 61px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.service-box .box{
    width: 100%; 
    margin: 20px 20px 20px 20px;
   
    float: left;
    /* display: block; */
    width: 349px;

}
.box img{
    margin-top: 20px;
}
.box h2{
    font-family: 'Open Sans';
    color: #13263f!important;
    font-weight: 800;
}
.box p{color: #a9a9a9;}
.clear{clear: both;}
/* pricing */
.pricing-container{
    background:linear-gradient(to top, #5292f2, #63cbf9);
     text-align: center;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
}

.price-center-box{
    background-color: #353535;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    width: 87%;
    text-align: left;
    padding: 27px;
}
.price-center-box h2{ color: #fff!important}
.pricing-container .price-header {
    text-align: center; 
    margin: 0 auto;
}
.pricing-container h1{
    font-family: 'Open Sans';
    color: #fff!important;
    font-weight: 800; font-size: 45px;
}
.pricing-container .price-box{
   background-color: #fff;
   border-radius: 8px;
   padding: 38px;
   width: 100%;
   position: relative;
   margin: 10px;
   text-align: left;
}
.price-box h2{
    font-family: 'Open Sans';
    color: #13263f;
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 0px;
}
.price-box p{
    color: #a9a9a9; 
    font-family: 'Open Sans';
}
.list-containt{
    margin: 50px 9px 50px 0px;
    padding: 0px;
}
 ul.listprice{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    
}
ul.listprice li{
    background: url(./assets/list-img.png) left center no-repeat;
    padding-left: 20px
}

ul.listprice li a{
    padding:0px 20px;
    text-decoration: none;
    font-family: 'Open Sans';
    color: #13263f;
    font-weight: 800;
    line-height: 40px;
}
ul.listprice li a:hover{
    opacity: 0.8;
}
.price-text{
    font-family: 'Open Sans';
    color: #13263f;
    font-weight: 800;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.price-text span{
    color: #a9a9a9; 
    font-family: 'Open Sans';
}
.price-text p{
    color: #a9a9a9; 
    font-family: 'Open Sans';
    font-weight: 400;
}
.btnpad{
   padding: 15px 35px
}
.price-main{
     display: flex;
    justify-content: space-between;
}
.customer-section{
    background: #fff;
    text-align: center;
    padding: 50px 80px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}
.customer-section h1{
    font-family: 'Open Sans';
    color: #13263f;
    font-weight: 800;
    font-size: 45px;
}

.customer-section p{
    color: #c7c6c6; 
    font-family: 'Open Sans';
    font-weight: 400;
   
}
.review-cotainer{
    display: flex;
    justify-content: space-between;
}
.reviewbox {
    width:45%;
    border-radius: 5px; 
    border: solid 1px #ececec;
    padding: 20px;
    margin: 10px;
}
.reviewbox p{
    color: #a9a9a9; 
    font-family: 'Open Sans';
    font-weight: 400;
    background-color: transparent; text-align: left;
}
.reviewer-name{
    margin-top: 10px;
    float: left;
    width: 100%;
}
.photo-reviwer{
    float: left;
    margin-right: 15px;
}
.reviewbox h4 {
    float: left;
    margin-top: 6px;
    margin-bottom: 5px;
}
.reviewbox .text{
    float: left;
    color: #a9a9a9;
    font-family: 'Open Sans';
    font-weight: 400;
}
.fl{float: left;}

.register-section{
    margin-top: 80px;
    background: linear-gradient(to top, #5292f2, #63cbf9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 88px;
    text-align: left;
}
.register-section h1{
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 44px;
    }
    .register-section p{
        font-family: 'Open Sans';
        color: #fff;
        }

.register-button{
    padding: 14px 25px;
    background-color: transparent;
    border: solid 1px #fff;
    font-family: 'Open Sans';
    color: #ffffff;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
  

}
.register-button:hover{
    opacity: 0.9;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
 
}
.footer h2{
    font-family: 'Open Sans';
    color: #13263f;
    font-weight: 500;
}
.footer p{
    font-family: 'Open Sans';
    color: #a9a9a9;
    text-align: left;
}
ul.footerlist{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    
}
ul.footerlist li{
    padding:0px 0px;
    text-decoration: none;
    font-family: 'Open Sans';
    color: #a9a9a9;
    font-weight: 500;
    line-height: 41px;
    text-align: left;
    cursor: pointer;
}
ul.footerlist li:hover{
    opacity: 0.7;

}
.social{
    display: flex;
    justify-content: space-around;
}



@media only screen and (max-width: 1200px) {
    
    .brand-img{height: 50%;}

     nav .nav-items{
        display: none;
    }
    nav .nav-menu-icon{
        display: block;
        margin: auto;
    }
}
@media  screen and (min-width: 1240px) {

    nav .nav-menu-icon{
        display: none;
       
    }
}
@media  screen and (max-width: 700px) {
    body {
   
      overflow-x: hidden;
    }

    nav .list{
        display: none;
    }
  .nav-menu-icon{
        display: block;
        margin: auto;
    }

    .container {
       margin: 40px 4px;
    }
    .nav-button {
        padding: 9px 14px;
    }
    .button-group{
        margin-left: 12px;
    }

    i {
        color: rgb(11, 11, 11);
        font-size: 43px;
    }
    .banner-container {
      
        margin-left: 10px;
        flex-direction: column;
        margin-top: 10px;
    }

    .heading-text {
        font-size: 36px;
        text-align: center;
        margin-bottom: 0px;
    }
.description{
    text-align: center;
}

.package-button{
    margin-right: 0px;
}

.cloud-img img{
    height: 283px;
    margin-top: 20px;
}
.banner-leftop {
   
    align-items: center;
    justify-content: center;
}

.pricing-container {
    padding: 1px 6px;
    flex-direction: column;
}

.price-main {
   flex-direction: column;
}
.pricing-container .price-box{
    width: auto;
    padding: 18px;
}

.list-containt {
    margin: 15px 9px 0px 0px;
    padding: 0px;
}
.price-center-box{
    width: 84%;
}

.pricing-container h1 {
   
    font-size: 31px;
}
.customer-section {
  
    padding: 2px 1px;
    margin-top: 0px;
   
}

.customer-section h1 {
    margin-bottom: 0px;
    font-size: 31px;
}

.register-section {
    margin-top: 0px;
    
    align-items: center;
    padding:11px 18px;
  
    flex-direction: column;
}
.register-section p{
    text-align: center;
}
.register-section h1 {
   
    font-size: 32px;
}

.footer {
  
    margin-top: 32px;
   
    flex-wrap: wrap;
}
.footer p,.text-center{
    text-align: center;
}

}